<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Mi sitio
			{% endblock %}
		</title>
		{% block stylesheets %}
			{# Aquí puedes incluir tus archivos CSS o SCSS #}
		{% endblock %}
	</head>
	<body>
		<header>
			{# Aquí puedes incluir el contenido de tu encabezado #}
		</header>
		<nav>
			{# Aquí puedes incluir tu menú lateral #}
		</nav>
		<main>
			{% block body %}{% endblock %}
		</main>
	</body>
</html>

