{% extends 'base.html.twig' %}

{% block body %}
<div class="bg_gradient_home">
	<div class="container-fluid">
		<div class="row">
			<!-- SideBar -->
			<div class="col-12 col-md-3 col-lg-2">
				<aside class="sidebar ps-0">
					<header class="d-flex justify-content-between align-items-center">
						<div class="my-2 my-lg-4">
							{# <h1 class="fz_h1 my-0 text-center color_azul_1">Logo</h1> #}
							<div class="logo">
								<img class="w-100" src="img/Logo_Heel.png" alt="user"/>
							</div>
						</div>
						{# <div class="burger">
							<div class="x"></div>
							<div class="y"></div>
							<div class="z"></div>
						</div> #}
					</header>
					{# <div class="circles"></div> #}
					<nav class="menu nav mt-4">
						<ul>
							<li class="d-block animate">
								<a href="#vista_1" class="btn_blanco btn_big fw_400 active" id="calendario" onclick="cambiarColor(this, 'calendario')">
									<img class="icon" src="img/icon/calendario.svg" alt="calendario"/>
									<span class="texto fz_p fw_400 color_azul_1 fz_p fw_400 color_azul_1">Calendario</span>
									<img class="arrow" src="img/icon/flecha.svg" alt="flecha"/>
								</a>
							</li>
							<li class="d-block animate">
								<a href="#vista_2" class="btn_blanco btn_big fw_400" id="cursos" onclick="cambiarColor(this, 'cursos')">
									<img class="icon" src="img/icon/cursos.svg" alt="Cursos"/>
									{% set course = true %}
									{% if course %}
										<span class="texto fz_p fw_400 color_azul_1">Cursos</span>
									{% else %}
										<span class="texto fz_p fw_400 color_azul_1">Próximos cursos</span>
									{% endif %}
									<img class="arrow" src="img/icon/flecha.svg" alt="flecha"/>
								</a>
							</li>
							<li class="d-block animate">
								<a href="#vista_3" class="btn_blanco btn_big fw_400" onclick="cambiarColor(this, 'experiencia')">
									<img class="icon" src="img/icon/cubo.svg" alt="cubo"/>
									<span class="texto fz_p fw_400 color_azul_1">Centro de Experiencia HEEL</span>
									<img class="arrow" src="img/icon/flecha.svg" alt="flecha"/>
								</a>
							</li>
							<li class="d-block animate">
								<a href="#vista_4" class="btn_blanco btn_big fw_400" onclick="cambiarColor(this, 'encuesta')">
									<img class="icon" src="img/icon/pizza.svg" alt="pizza"/>
									<span class="texto fz_p fw_400 color_azul_1">Encuesta</span>
									<img class="arrow" src="img/icon/flecha.svg" alt="flecha"/>
								</a>
							</li>
							<li class="d-block animate">
								<a href="#vista_5" class="btn_blanco btn_big fw_400" onclick="cambiarColor(this, 'certificado')">
									<img class="icon" src="img/icon/chulo.svg" alt="chulo"/>
									<span class="texto fz_p fw_400 color_azul_1">Certificado</span>
									<img class="arrow" src="img/icon/flecha.svg" alt="flecha"/>
								</a>
							</li>
						</ul>
					</nav>
				</aside>
			</div>

			<!-- SideBar -->
			<div class="col-12 col-md-9 col-lg-10">
				<main>
					<header class="d-sm-flex justify-content-between align-items-center mb-3 mb-lg-0">
						<div class="my-2 my-lg-4 ms-5 ms-md-0">
							<h2 class="fz_h2 fw_600 my-0 color_azul_1 letter_sp_1">¡Bienvenida Giselle!</h2>
						</div>
						<div class="d-inline-flex my-2 my-lg-4 mx-4 mx-md-0">
							<div class="d-inline-flex me-4 align-items-center">
								<a href="#" class="" onclick="dropdown()">
									<img class="bell" src="img/icon/bell.svg" alt="bell"/>
								</a>
								<span class="bg_verde_2 score">
									<p class="fz_min fw_700 color_blanco my-0">4</p>
								</span>
								{{ include('dropdown/dropdownMenu.html.twig') }}
							</div>
							<div class="avatar me-3 my-auto">
								<img class="w-100" src="img/user.png" alt="user"/>
							</div>
							<h3 class="fz_h3 fw_700 my-0 color_azul_1 me-4 my-auto">Giselle Adriana</h3>
							<a href="#session" class="" onclick="dropdownSesion()">
								<div class="me-4 my-auto sesion" id="session">
									<img class="w-100" src="img/icon/arrow_down.svg" alt="arrow_down"/>
								</div>
							</a>
							{{ include('dropdown/dropdownSesion.html.twig') }}
						</div>
					</header>
					<article>
						<div id="vista_1" class="">
							{% include ("basic/calendario.html.twig") %}
						</div>
						<div id="vista_2" class="">
							{% include ("basic/cursos.html.twig") %}
						</div>
						<div id="vista_3" class="">
							{% include ("basic/experiencia.html.twig") %}
						</div>
						<div id="vista_4" class="">
							{% include ("basic/encuesta.html.twig") %}
						</div>
						<div id="vista_5" class="">
							{% include ("basic/certificado.html.twig") %}
						</div>
						{# {% if vista_calendario == vistaSelecionada %}
							{% include ("basic/calendario.html.twig") %}
						{% elseif vista == vista_turno %}
							{% include ("basic/cursos.html.twig") %}
						{% elseif vista == 'experiencia' %}
							{% include ("basic/experiencia.html.twig") %}
						{% elseif vista == 'encuesta' %}
							{% include ("basic/encuesta.html.twig") %}
						{% elseif vista == 'certificado' %}
							{% include ("basic/certificado.html.twig") %}
						{% endif %} #}
					</article>
				</main>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script>
		//carga por defecto la vista calendario
		mostrarVista();

		function cambiarColor(btnClic, id) {
			// boton.classList.toggle("active");
			// Remover la clase 'activo' de todos los botones
			$('.btn_blanco').removeClass('active');

			// Agregar la clase 'activo' solo al botón clicado
			$(btnClic).addClass('active');
			//console.log(">>> --> ", btnClic);
			mostrarVista(id);
			//console.log("id --> ", id);
		}

		function mostrarVista(param) {
			// Primero, establece todas las clases a ""
			document.getElementById("vista_1").className = "";
			document.getElementById("vista_2").className = "";
			document.getElementById("vista_3").className = "";
			document.getElementById("vista_4").className = "";
			document.getElementById("vista_5").className = "";
			switch (param) {
				case "calendario":
					var x = document.getElementById("vista_1");
					x.className = "show";
					//console.log("param! ", param);
					break;
				case "cursos":
					var x = document.getElementById("vista_2");
					x.className = "show";
					//console.log("param! ", param);
					break;
				case "experiencia":
					var x = document.getElementById("vista_3");
					x.className = "show";
					//console.log("param! ", param);
					break;
				case "encuesta":
					var x = document.getElementById("vista_4");
					x.className = "show";
					//console.log("param! ", param);
					break;
				case "certificado":
					var x = document.getElementById("vista_5");
					x.className = "show";
					//console.log("param! ", param);
					break;
				default:
					var x = document.getElementById("vista_1");
					x.className = "show";
			}
			

		}

		function calendarChange(btnClic) {
			// boton.classList.toggle("active");
			// Remover la clase 'activo' de todos los botones
			$('.btn_calendar').removeClass('active');

			// Agregar la clase 'activo' solo al botón clicado
			$(btnClic).addClass('active');
		}

		function cambiarApariencia(btnClic) {
				console.log(" Cambiar Apariencia >>>>")
				$('.btn_dark').addClass('clicked');
				$('.btn_small').addClass('clicked');
				setTimeout(() => {
				$(btnClic).removeClass('clicked');
				}, 200);
		}

		function CambiarQuaternary(btnClic) {
				console.log(" Cambiar Quaternary >>>>")
				$('.btn_primary').addClass('clicked');
				setTimeout(() => {
				$(btnClic).removeClass('clicked');
				}, 200);
		}

		

		function dropdown() {
			$(".dropdown_menu").toggle();
		}

		function dropdownSesion() {
			$(".dropdown_sesion").toggle();
		}

		function animar(btnClic) {
			cambiarApariencia(btnClic);
			var efecto = document.querySelector('.efecto');
			efecto.classList.add('animar');
			setTimeout(function() {
				efecto.classList.remove('animar');
			}, 500);
		}
	</script>
{% endblock %}