<header class="d-sm-flex justify-content-between align-items-center mb-3 mb-lg-0">
	<div class="my-2 my-lg-4 mx-5 mx-md-0 ms-md-5 ms-md-0">
		<h2 class="fz_h2 fw_600 my-0 color_azul_1 letter_sp_1">¡Bienvenida Giselle!</h2>
	</div>
	<div class="d-inline-flex my-2 my-lg-4 mx-4 mx-md-0">
		<div class="d-inline-flex me-4 align-items-center">
			<a href="#" class="" onclick="dropdown()">
				<img class="bell" src="img/icon/bell.svg" alt="bell"/>
			</a>
			<span class="bg_verde_2 score">
				<p class="fz_min fw_700 color_blanco my-0">4</p>
			</span>
			{{ include('dropdown/dropdownMenu.html.twig') }}
		</div>
		<div class="avatar me-3 my-auto">
			<img class="w-100" src="img/user.png" alt="user"/>
		</div>
		<h3 class="fz_h3 fw_700 my-0 color_azul_1 me-4 my-auto">Giselle Adriana</h3>
		<a href="#" class="" onclick="dropdownSesion()">
			<div class="me-4 my-auto sesion" id="session">
				<img class="w-100" src="img/icon/arrow_down.svg" alt="arrow_down"/>
			</div>
		</a>
		{{ include('dropdown/dropdownSesion.html.twig') }}
	</div>
</header>

{% block javascripts %}
	<script>
		function dropdown() {
			$(".dropdown_menu").toggle();
		}

		function dropdownSesion() {
			$(".dropdown_sesion").toggle();
		}
	</script>
{% endblock %}