{% for repit in 1..7 %}
	<p class="fz_p fw_400 color_azul_1 my-1 mb-2">{{title}}</p>
	<div class="bg_gradient_azul_2 brd_rds_5 mb-2 d-flex justify-content-between">
		<hr class="linea_vertical my-0">
		<div class="pe-3 pb-1">
			<div class="d-flex justify-content-between align-items-start">
				<p class="fz_p fw_700 color_azul_1 tres_puntos ps-3 my-2">Bases de BrSM  - Técnicas de aplicación - PatologíaOM. Médicos de la zona Funza, Madrid, Mosquera, Faca...
				</p>
			</div>
			<div class="d-flex justify-content-start align-items-center ps-3">
				<img class="icon_clock me-2" src="img/icon/clock.svg" alt="clock"/>
				<p class="fz_p fw_400 color_azul_1 my-1 me-2">08:00 - 16:00</p>
				<p class="fz_p fw_400 color_azul_2 my-1">(8h)</p>
			</div>
		</div>
	</div>
{% endfor %}
