<div class="box_notificacion bg_gradient_azul_2 brd_rds_20 mb-3 w-100">
	<div class="row">
		<!-- Encuestas disponibles -->
		<div class="col-12">
			<div class="py-4 px-5">
				<h2 class="fz_h2 fw_600 color_azul_1 letter_spacing">Próximos cursos</h2>
			</div>
			<div class="scroll_hide">
				<ul class="d-grid">
					<li class="d-flex justify-content-center mb-4">
						{{ include('componentes/verticalDate.html.twig',{letterDay:'Viernes',day:'24',month:'Oct'}) }}
					</li>
					<li class="d-flex justify-content-center mb-4">
						{{ include('componentes/verticalDate.html.twig',{letterDay:'Viernes',day:'27',month:'Oct'}) }}
					</li>
					<li class="d-flex justify-content-center mb-4">
						{{ include('componentes/verticalDate.html.twig',{letterDay:'Viernes',day:'24',month:'Oct'}) }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
