<aside class="sidebar ps-0">
	<header class="d-flex justify-content-between align-items-center">
		<div class="my-2 my-lg-4">
			<div class="logo">
				<img class="w-100" src="img/Logo_Heel.png" alt="user"/>
			</div>
		</div>
		{# <div class="burger">
			<div class="x"></div>
			<div class="y"></div>
			<div class="z"></div>
		</div> #}
	</header>
	{# <div class="circles"></div> #}
	{{ include('componentes/NavBar.html.twig',{activeParam}) }}
</aside>