<div class="">
	<div class="d-flex justify-content-center">
		<h3 class="fz_h3 fw_700 color_verde_2 vertical_txt my-2">{{letterDay}}</h3>
		<div class="d-block">
			<h1 class="fz_h1 fw_700 color_verde_1 text-center px-3 px-lg-3 my-0">{{day}}</h1>
			<h3 class="fz_h3 fw_700 color_azul_1 text-center px-3 px-lg-3 my-0">{{month}}</h3>
		</div>
	</div>
	<hr class="linea_vertical_date my-0">
	<div class="line">
	</div>
</div>
