<!-- Slider main container -->
<div class="content_swp_general d-flex justify-content-center align-items-center">
	<div class="swiper-button-prev px-3"></div>
	<div class="swiper swp_conferencistas">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
						
			<!-- Slides 1 -->
			<div class="swiper-slide">
				<div classname="d-flex justify-content-center align-items-start">
					<span class="circle conferencistas mx-auto">
						<img class="w-100" src="img/user1.png" alt="user1"/>
					</span>
				</div>
				<div>
					<p class="fz_p fw_700 color_azul_1 text-center my-2 px-1 px-lg-3">Lorem ipsum dolor</p>
					<p class="fz_p fw_400 color_azul_1 text-center my-1 text-center">Especialidad</p>
				</div>
			</div>
			
			<!-- Slides 2 -->
			<div class="swiper-slide">
				<div classname="d-flex justify-content-center align-items-start">
					<span class="circle conferencistas mx-auto">
						<img class="w-100" src="img/user2.png" alt="user2"/>
					</span>
				</div>
				<div>
					<p class="fz_p fw_700 color_azul_1 text-center my-2 px-1 px-lg-3">Lorem ipsum dolor</p>
					<p class="fz_p fw_400 color_azul_1 text-center my-1 text-center">Especialidad</p>
				</div>
			</div>
			
			<!-- Slides 3 -->
			<div class="swiper-slide">
				<div classname="d-flex justify-content-center align-items-start">
					<span class="circle conferencistas mx-auto">
						<img class="w-100" src="img/user3.png" alt="user3"/>
					</span>
				</div>
				<div>
					<p class="fz_p fw_700 color_azul_1 text-center my-2 px-1 px-lg-3">Lorem ipsum dolor</p>
					<p class="fz_p fw_400 color_azul_1 text-center my-1 text-center">Especialidad</p>
				</div>
			</div>
			
			<!-- Slides 4 -->
			<div class="swiper-slide">
				<div classname="d-flex justify-content-center align-items-start">
					<span class="circle conferencistas mx-auto">
						<img class="w-100" src="img/user2.png" alt="user2"/>
					</span>
				</div>
				<div>
					<p class="fz_p fw_700 color_azul_1 text-center my-2 px-1 px-lg-3">Lorem ipsum dolor</p>
					<p class="fz_p fw_400 color_azul_1 text-center my-1 text-center">Especialidad</p>
				</div>
			</div>
			
			<!-- Slides 5 -->
			<div class="swiper-slide">
				<div classname="d-flex justify-content-center align-items-start">
					<span class="circle conferencistas mx-auto">
						<img class="w-100" src="img/user1.png" alt="user1"/>
					</span>
				</div>
				<div>
					<p class="fz_p fw_700 color_azul_1 text-center my-2 px-1 px-lg-3">Lorem ipsum dolor</p>
					<p class="fz_p fw_400 color_azul_1 text-center my-1 text-center">Especialidad</p>
				</div>
			</div>

			<!-- Slides 6 -->
			<div class="swiper-slide">
				<div classname="d-flex justify-content-center align-items-start">
					<span class="circle conferencistas mx-auto">
						<img class="w-100" src="img/user3.png" alt="user3"/>
					</span>
				</div>
				<div>
					<p class="fz_p fw_700 color_azul_1 text-center my-2 px-1 px-lg-3">Lorem ipsum dolor</p>
					<p class="fz_p fw_400 color_azul_1 text-center my-1 text-center">Especialidad</p>
				</div>
			</div>

			{# {% for item in conferencistas %}
				<div class="swiper-slide">
					<div classname="d-flex justify-content-center align-items-start">
						<span class="circle conferencistas mx-auto">
							<img id="img_{{ item.plu }}" class="w-100" src="{{ asset('item.photo') }}" alt="user">
						</span>
					</div>
					<div>
						<p class="fz_p fw_700 color_azul_1 text-center my-2 px-1 px-lg-3">{{ item.title }}</p>
						<p class="fz_p fw_400 color_azul_1 text-center my-1 text-center">{{ item.especialidad }}</p>
					</div>
				</div>
			{% endfor %} #}
		</div>
		<!-- If we need navigation buttons -->
		
	</div>
	<div class="swiper-button-next px-3"></div>
</div>
