{# {% extends 'base.html.twig' %}

{% block body %} #}

	<div class="dropdown">
		<div class="dropdown_sesion brd_rds_msg bg_blanco bx_shdw_2">
			<a href="/login" class="d-inline-flex align-items-center txt_deco_none ps-3 pe-5 py-2">
				<div class="sesion ico me-3">
					<img class="w-100" src="img/icon/sesion.svg" alt="sesion"/>
				</div>
				<p class="fz_p fw_700 color_azul_1 ws_nowrap">Cerrar Sesión</p>
			</a>
		</div>
	</div>

{# {% endblock %}

{% block javascripts %}
	<script></script>
{% endblock %} #}

