{# {% extends 'base.html.twig' %}

{% block body %} #}

<div class="dropdown">
	<div class="dropdown_agenda brd_rds_20 bg_blanco bx_shdw_2 my-5 mx-3">
		<!-- Descripción -->
		<div id="agendarme" class="">
			<div class="d-flex justify-content-end align-items-center px-4 pt-1 pt-lg-3 pt-xl-2">
				<a href="#" class="p-2 p-md-0" onclick="dropdownAgenda()">
					<img class="bell" src="img/icon/x.svg" alt="close"/>
				</a>
			</div>
			<div class="px-3 px-lg-5">
				<div class=" brd_rds_5 mb-3 d-flex justify-content-between w-100">
					<h2 class="fz_h2 color_azul_1 fw_600 letter_spacing my-2">Bases de BrSM  - Técnicas de aplicación - PatologíaOM. Médicos de la zona Funza, Madrid, Mosquera, Faca. Gerente regional Javier Salgado.</h2>
				</div>
				<div class="scroll_mobile">
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto my-1 my-md-2">Fecha</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">08:00 - 16:00</p>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto my-1 my-md-2">Lugar</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">Centro de Entrenamiento Heel</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto my-1 my-md-2">Hora inicio</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">08:00 - 16:00</p>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto my-1 my-md-2">Dirección</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">Calle 106 #56-41 Piso 3</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto my-1 my-md-2">Hora final</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">08:00 - 16:00</p>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto my-1 my-md-2">Conferencista</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">Dra Virginia Sanz</p>
							</div>
						</div>
					</div>

					<div class="box_notificacion brd_rds_5 mb-3">
						<h2 class="fz_h2 color_azul_1 fw_600 letter_spacing mb-1 mt-3">Descripción</h2>
						<p class="fz_p fw_400 color_azul_1 letter_spacing my-2">Bases de BrSM  - Técnicas de aplicación - Patología OM. Médicos de la zona Funza, Madrid, Mosquera, Faca. Gerente regional Javier Salgado.
																		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
						</p>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-12 col-sm-6">
						<button type="button" class="btn_dark fw_700 fz_h3" onclick="dropdownAgenda()">Detalles del evento</button>
					</div>
					<div class="col-12 col-sm-6">
						<button type="button" class="btn_primary fw_700 fz_h3 bg_azul_3" onclick="NextDropdpwn('agendarme', 'formEvent')">Agendarme a este evento</button>
					</div>
				</div>
			</div>
		</div>
		<!-- formulario de Agregar Participante -->
		<div id="formEvent" class="">
			<div class="d-flex justify-content-between align-items-center px-4 py-3">
				<a href="#" class="arrowIco" onclick="NextDropdpwn('formEvent', 'agendarme')">
					<img class="w-100" src="img/icon/left_arrow.svg" alt="close"/>
				</a>
				<a href="#" class="closeIco" onclick="dropdownAgenda()">
					<img class="w-100" src="img/icon/x.svg" alt="close"/>
				</a>
			</div>
			<h2 class="fz_h2 fw_600 color_azul_1 letter_spacing mb-3 text-center">Agregar Participante</h2>
			<form class="form scroll_hide" action="" id="formAdd" method="post" autocomplete="off" novalidate>
				<div class="px-3 px-lg-5 mt-3">
					<div class="form-group mb-4">
						<div class="input-group">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block" for="add_name">
								Nombres y Apellidos
							</label>
							<input type="text" class="color_gris_2" id="add_name" name="add_name" placeholder="Ingrese aquí sus datos" required>
						</div>
						<!-- Mensaje para validación -->
						<div class="ms-2 error colors-red asap-regular" style="display: none" role="alert" id="err_regis_name"></div>
					</div>

					<div class="d-inline-flex w-100 mb-4">
						<div class="input-group me-4">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block ws_nowrap" for="add_typeDocument">
								Tipo de identifiación
							</label>
							<!-- The second value will be selected initially -->
							<select name="select" id="add_typeDocument" name="add_typeDocument">
								<option value="value1"selected>Seleccione</option>
								<option value="value2" >CC</option>
								<option value="value3">TI</option>
								<option value="value4">Password</option>
							</select>
						</div>

						<div class="input-group w-100">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block" for="add_numDocument">
								No. de Identificación
							</label>
							<!-- The second value will be selected initially -->
							<input type="text" class="color_gris_2" id="add_numDocument" name="add_numDocument" placeholder="Ingrese aquí sus datos" required>
						</div>
					</div>

					<div class="d-inline-flex w-100 mb-4">
						<div class="input-group w-100 me-4">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block ws_nowrap" for="add_phone">
								Teléfono
							</label>
							<!-- The second value will be selected initially -->
							<input type="text" class="color_gris_2" id="add_phone" name="add_phone" placeholder="Ingrese aquí sus datos" required>
						</div>

						<div class="input-group w-100">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block" for="add_email">
								Email
							</label>
							<!-- The second value will be selected initially -->
							<input type="email" class="color_gris_2" id="add_email" name="add_email" placeholder="Ingrese aquí sus datos" required>
						</div>
					</div>

					<div class="d-inline-flex w-100 mb-4">
						<div class="input-group w-100 me-4">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block ws_nowrap" for="add_dirColsultorio">
								Dirección de consultorio
							</label>
							<!-- The second value will be selected initially -->
							<input type="text" class="color_gris_2" id="add_dirColsultorio" name="add_dirColsultorio" placeholder="Ingrese aquí sus datos" required>
						</div>

						<div class="input-group w-100">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block" for="add_repreColsultorio">
								Representante de ventas
							</label>
							<!-- The second value will be selected initially -->
							<input type="text" class="color_gris_2" id="add_repreColsultorio" name="add_repreColsultorio" placeholder="Ingrese aquí sus datos" required>
						</div>
					</div>

					<!-- Dirección de consultorio -->
					<div class="form-group mb-4">
						<div class="input-group">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block" for="add_name">
								Dirección de consultorio
							</label>
							<input type="text" class="color_gris_2" id="add_name" name="add_name" placeholder="Ingrese aquí sus datos" required>
						</div>
						<!-- Mensaje para validación -->
						<div class="ms-2 error colors-red asap-regular" style="display: none" role="alert" id="err_regis_name"></div>
					</div>

					<!-- Representante de ventas -->
					<div class="form-group mb-4">
						<div class="input-group">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block" for="add_name">
								Representante de ventas
							</label>
							<input type="text" class="color_gris_2" id="add_name" name="add_name" placeholder="Ingrese aquí sus datos" required>
						</div>
						<!-- Mensaje para validación -->
						<div class="ms-2 error colors-red asap-regular" style="display: none" role="alert" id="err_regis_name"></div>
					</div>

					<!-- Representante de ventas -->
					<div class="form-group mb-3">
						<h3 class="color_azul_1 fz_h3 fw_700 mb-2 d-block">
							NO pertenece al panel de Heel
						</h3>
						<div class="input-group">
							<input id="add_chck_1" name="add_chck_1" type="checkbox" class="me-2 my-auto" required>
							<label for="add_chck_1" class="color_gris_1 fz_p fw_400">
								Visitado por dermaéstetica
							</label>
						</div>
						<div class="input-group">
							<input id="add_chck_2" name="add_chck_2" type="checkbox" class="me-2 my-auto" required>
							<label for="add_chck_2" class="color_gris_1 fz_p fw_400">
								Ninguno
							</label>
						</div>
						<!-- Mensaje para validación -->
						<div class="ms-2 error colors-red asap-regular" style="display: none" role="alert" id="err_regis_name"></div>
					</div>

					<!-- Firme de consentimiento -->
					<div class="form-group mb-4">
						<div class="input-group">
							<label class="color_azul_1 fz_h3 fw_700 mb-2 d-block" for="add_name">
								Firme de consentimiento
							</label>
							<input type="text" class="color_gris_2" id="add_name" name="add_name" placeholder="Ingrese aquí sus datos" required>
						</div>
						<!-- Mensaje para validación -->
						<div class="ms-2 error colors-red asap-regular" style="display: none" role="alert" id="err_regis_name"></div>
					</div>
				</div>
			</form>
			<div class="row my-3">
				<div class="col-12 col-md-8 offset-md-2">
					<button type="button" class="btn_primary fw_700 fz_h3 bg_azul_3" onclick="dropdownEventoAgendado('.dropdown_agenda')">Agendar</button>
				</div>
			</div>
		</div>
	</div>
</div>

{# {% endblock %}

{% block javascripts %}
	<script></script>
{% endblock %} #}
