{# {% extends 'base.html.twig' %}

{% block body %} #}

	<div class="dropdown">
		<div class="dropdown_event brd_rds_20 bg_blanco bx_shdw_2">
			<div class="d-flex justify-content-end align-items-center px-4 pt-3">
				<a href="#" class="" onclick="dropdownEventoAgendado('.dropdown_event')">
					<img class="bell" src="img/icon/x.svg" alt="close"/>
				</a>
			</div>
			<div class="px-5">
				<h2 class="fz_h2 fw_600 color_azul_1 letter_spacing mb-5 text-center">¡Evento agendado con éxito!</h2>
				<p class="fz_p fw_400 color_azul_1 letter_spacing mb-5 text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
				<div class="row my-3">
					<div class="col-12 col-md-6 offset-md-3">
						<button type="button" class="btn_primary fw_700 fz_h3 bg_azul_3" onclick="dropdownEventoAgendado('.dropdown_event')">Volver al calendario</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{# {% endblock %}

{% block javascripts %}
	<script></script>
{% endblock %} #}

