@import "vars.scss";
@import "fonts.scss";
@import "mixin.scss";
@import "pages.scss";
@import "general-min.css";
@import "menu.scss";
@import "grid.scss";

body {
	font-family: "inter";
	margin: 0;
}

// #app {
// 	margin-left: 2vw;
// 	padding: 2vw;
// 	text-align: center;
// }  

main {
	display: block;
}

.box {
	width: 100%;
	height: auto;
}

.box_notificacion {
	width: 100%;
	height: auto;
}

.box_2 {
	width: 20rem;
	height: 8rem;
	margin-bottom: 2rem;
}

.box_3 {
	width: 350px;
}

aside {
	width: 100%;
	height: 100vh;
	background: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.nav {
	position: relative;
	margin: 0 10%;
}

.line_fz {
	background: linear-gradient(270deg, #0088C1 0%, #2CB174 63.17%, #BCCD00 130.41%);
	width: 85px;
	height: 5px;
}

.letter_spacing {
	letter-spacing: 0.02em;
}

.letter_sp_1 {
	letter-spacing: 1px;
}

.ln_h_60 {
	line-height: 60px;
}

header {
	height: 100px;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.9vw;
	height: 1.9vw;
	border-radius: 50%;
}

.sesion {
	width: 1.5vw;
	height: 1.5vw;

	&.ico {
		width: 1.5vw;
	}
}

.arrowIco {
	width: 0.9vw;
}

.closeIco {
	width: 1.2vw;
}

.grupo {
	width: 34vw;
}

.score {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 0.9vw;
	height: 0.9vw;
	color: $blanco;
	margin-top: -0.5vw;
}

.bell {
	margin-right: -0.5vw;
	width: 1.2vw;
	height: 1.2vw;
}

.logo {
	width: 10vw;
}

.c_pntr {
	cursor: pointer;
}

.ws_nowrap {
	white-space: nowrap;
}

.txt_deco_none {
	text-decoration: none;
}

.tres_puntos {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
}

//background

.bg_azul_1 {
	background-color: $azul_1;
}

.bg_azul_2 {
	background-color: $azul_2;
}

.bg_azul_3 {
	background-color: $azul_3;
}

.bg_azul_4 {
	background-color: $azul_4;
}

.bg_verde_1 {
	background-color: $verde_1;
}

.bg_verde_2 {
	background-color: $verde_2;
}

.bg_verde_3 {
	background-color: $verde_3;
}

.bg_gris_1 {
	background-color: $gris_1;
}

.bg_gris_2 {
	background-color: $gris_2;
}

.bg_gris_3 {
	background-color: $gris_3;
}

.bg_lila {
	background-color: $lila;
}

.bg_blanco {
	background-color: $blanco;
}

.bg_beige {
	background-color: $beige;
}

.bg_blanco {
	background-color: $blanco;
}

.color_azul_1 {
	color: $azul_1;
}

.color_azul_2 {
	color: $azul_2;
}

.color_azul_3 {
	color: $azul_3;
}

.color_verde_1 {
	color: $verde_1;
}

.color_verde_2 {
	color: $verde_2;
}

.color_verde_1 {
	color: $verde_1;
}

.color_gris_1 {
	color: $gris_1;
}

.color_gris_2 {
	color: $gris_2;
}

.color_blanco {
	color: $blanco;
}

//gradient

.bg_gradient_home {
	background: rgb(120, 180, 223);
	background: linear-gradient(299deg, rgba(120, 180, 223, 0.3) 30%, rgba(120, 180, 223, 0.3) 30%);
}

.bg_degradado_box_1 {
	background: hsla(205, 62%, 67%, 1);
	background: radial-gradient(circle, hsla(205, 62%, 67%, 1) 0%, hsla(205, 62%, 67%, 1) 10%);
	background: -moz-radial-gradient(circle, hsla(205, 62%, 67%, 1) 0%, hsla(205, 62%, 67%, 1) 10%);
	background: -webkit-radial-gradient(circle, hsla(205, 62%, 67%, 1) 0%, hsla(205, 62%, 67%, 1) 10%);
}

.bg_degradado_verde {
	background: linear-gradient(0deg, #008E69, #008E69),
		linear-gradient(0deg, rgba(44, 177, 116, 0.3), rgba(44, 177, 116, 0.3));
}

.bg_gradient_azul_2 {
	background: $azul_4;
}

.bg_gradient_azul_day {
	background: linear-gradient(0deg, rgba(120, 180, 223, 0.1), rgba(120, 180, 223, 0.1));
	// background: linear-gradient(0deg, rgba(120, 180, 223, 0.1), rgba(178, 202, 219, 1)), linear-gradient(0deg, $gris_3, $gris_3);
}

.bx_shdw_1 {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(112, 161, 181, 0.25);
	box-shadow: 0px 0px 8px 0px rgba(112, 161, 181, 0.25);
}

.bx_shdw_2 {
	-webkit-box-shadow: -23px 4px 50px 0px rgba(112, 161, 181, 0.2);
	box-shadow: -23px 4px 50px 0px rgba(112, 161, 181, 0.2);
}

.bx_shdw_3 {
	box-shadow: 0px 4px 4px 0px #2B4C6017;
}

.brd_azul_2 {
	border: 1px solid $azul_2;
}

.brd_gris_3 {
	border: 1px solid $gris_3;
}

// button

.btn_global {
	display: inline-block;
	margin: 0.5vw auto;
	font-size: 1vw; //20px
	text-decoration: none;
	line-height: 24px;
	letter-spacing: 0em;
	white-space: nowrap;
	cursor: pointer;
	border: none;
	width: 100%;
}

.btn_icon {
	// Estilo por defecto
	color: $blanco;
	transition: background-color 0.3s ease, color 0.3s ease;

	.icon {
		width: 1vw;
		// height: 1vw;
		color: inherit;
		// fill: blue;
		margin-right: 0.5vw;
		vertical-align: middle;
	}

	.texto {
		white-space: normal;
		width: 74%;
		display: inline-block;
		letter-spacing: normal;
		line-height: initial;
		vertical-align: middle;
	}

	.arrow {
		width: 0.6vw;
		color: inherit;
		margin-left: 0.5vw;
		vertical-align: middle;
		// border: 105px;
		// padding-right: 0.7vw;
		// float: right;
		// margin-top: 0.5vw;
	}



	// Pseudo-estado al hacer clic
	&.active {
		color: $blanco !important;
		background-color: $azul_3;
		font-weight: 700 !important;

		.icon {
			filter: brightness(0) invert(1); // Invierte el color del icono cuando el botón está activo
		}
		.texto {
			color: $blanco;
			@extend .fw_700;
		}
	}

	// Estilo alternativo para otro tipo de botón
	&.btn_secondary {
		background-color: $blanco;
		color: $azul_1;
		@extend .fz_p;

		&.active {
			background-color: $azul_3;
		}
	}

	&.btn_terciary {
		@include Clicked($azul_1, $blanco, 0.833vw, $azul_3, 10%, $azul_3, 5%);
	}

	&.btn_quaternary {
		@include Clicked($azul_3, $blanco, 0.833vw, $azul_2, 5%, $azul_2, 5%);
	}

	&.btn_download {
		@include Clicked($azul_3, $blanco, 0.833vw, $azul_2, 5%, $azul_2, 5%);
	}
}

.position_relative {
	position: relative;
}

.efecto {
	position: absolute;
	width: 100px;
	height: 100px;
	@extend .bg_gradient_azul_day;
	@extend .bx_shdw_3;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 0.5s;
	display: block;
	margin: -40% 0 0 -1rem;

	&.animar {
		transform: scale(1);
	}
}

.brd_rds_20 {
	@include borderRadius(20px);
}

.brd_rds_10 {
	@include borderRadius(10px);
}

.brd_rds_5 {
	@include borderRadius(5px);
}

.brd_rds_msg {
	@include borderRadius(20px 0 20px 20px);
}

.btn_big {
	padding: 17px 4px 17px;
	text-align: start;
	padding-left: 1.3vw;
	padding-right: 1.2vw;
	@extend .brd_rds_20;
}

.btn_small {
	padding: 10px 48px;
	@extend .brd_rds_10;
}

.btn_extra_small {
	padding: 7px 25px;
	@extend .brd_rds_10;
}

.btn_mediun {
	padding: 17px 16px;
	@extend .brd_rds_20;
}

// Utilizar la clase base en tu HTML
.btn {
	@extend .btn_global;
	@extend .btn_icon;
}

// Utilizar la clase base y una variante en tu HTML
.btn_blanco {
	@extend .btn;
	@extend .btn_secondary;
}

.btn_dark {
	@extend .btn;
	@extend .btn_terciary;
	@extend .btn_mediun;
}

.btn_primary {
	@extend .btn;
	@extend .btn_quaternary;
	@extend .btn_mediun;
}

.btn_calendar {
	@extend .btn_global;
	@include btnCalendar($gris_4);
	padding: .3vw 1vw;
	@extend .brd_rds_5;
	flex-grow: 1;

	// Pseudo-estado al hacer clic
	&.active {
		color: $blanco !important;
		background-color: $verde_2;
		font-weight: 700 !important;
	}
}

button {
	border: 0;
	color: white;
	font-size: 0.7vw;
	display: inline-flex;
	background-color: transparent;
}

button:focus {
	outline: none;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	height: 15px;
	width: 15px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLXgiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlPSIjRUUxQTdCIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPg0KICA8cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4NCiAgPGxpbmUgeDE9IjE4IiB5MT0iNiIgeDI9IjYiIHkyPSIxOCIgLz4NCiAgPGxpbmUgeDE9IjYiIHkxPSI2IiB4Mj0iMTgiIHkyPSIxOCIgLz4NCjwvc3ZnPg==);
	background-size: 15px 15px;
}

//form
form {

	textarea,
	input[type="tel"],
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	select {
		width: 100%;
		color: $gris_1;
		font-size: 0.8vw;
		font-weight: 400;
		vertical-align: middle;
		display: inline-block;
		border: 2px solid $gris_2;
		padding: 0.8vw;
		@extend .brd_rds_10;
		outline: none;

		&::placeholder {
			color: $gris_2;
			font-size: 0.8vw;
			font-weight: 400;
		}

		&:-ms-input-placeholder {
			color: $gris_2;
			font-size: 0.8vw;
			font-weight: 400;
		}

		&::-ms-input-placeholder {
			color: $gris_2;
			font-size: 0.8vw;
			font-weight: 400;
		}
	}

	.inputnone {
		text-transform: none !important;
	}

	input[type="date"],
	input[type="time"],
	select {
		appearance: none;
		-webkit-appearance: none;
	}

	input,
	textarea,
	select {
		&:focus {
			outline: none !important;
		}
	}

	input[type="tel"]:focus,
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="search"]:focus,
	input[type="password"]:focus,
	select:focus,
	textarea:focus,
	button:focus,
	*.btn:active,
	.btn:focus,
	.btn:active:focus,
	.btn.active:focus {
		outline: none !important;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px white inset !important;
	}

	// Estilos generales para el checkbox
	input[type="checkbox"] {
		margin-right: 5px;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		appearance: none;
	}

	[type="checkbox"] {
		position: relative;
		width: 15px;
		height: 15px;
		cursor: pointer;

		&::before,
		&::after {
			position: absolute;
			display: block;
			content: "";
		}

		&::before {
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			border: 2px solid $gris_2;
			border-radius: 3px;
		}

		&::after {
			top: 5px;
			left: 5px;
			width: 12px;
			height: 7px;
			border-bottom: 3px solid #0095D3;
			border-left: 3px solid #0095D3;
			transform: rotate(-45deg);
			transition: opacity 0.3s;
			opacity: 0;
		}

		&:checked::after {
			opacity: 1;
		}
	}

	a {
		&:hover {
			opacity: 0.7;
		}
	}

	select {
		// color: white;
		// border: none;
		// width: 100%;

		&::-ms-expand {
			color: #ff0000;
			/* Color de la flecha en Internet Explorer */
		}

		&::after {
			color: #ff0000;
			/* Color de la flecha en otros navegadores */
		}

		option {
			color: $gris_1;
			background-color: white;

			&:hover {
				color: white;
				background-color: #000;
			}
		}
	}

	label {
		vertical-align: baseline;
		margin-bottom: 0rem;
		line-height: 1.7;
	}

	button {
		&.btn_form {
			width: 16vw;
			font-size: 1.2vw;
			font-weight: 500;
			padding: 1vw 2vw;
			text-align: center;
			background-color: $azul_3 !important;
		}
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		color: $azul_1;

		&:hover {
			color: darken($azul_3, 10%);

			a {
				color: $azul_3;
			}
		}
	}
}

hr.linea_vertical {
	@include lnVertical($verde_2);
}

hr.linea_vertical_verde_1 {
	@include lnVertical($verde_1);
}

hr.linea_vertical_lila {
	@include lnVertical($lila);
}

hr.linea_vertical_azul_3 {
	@include lnVertical($azul_3);
}

.linea_vertical_date {
	position: relative;
	flex: none;
	border: none;
	border-left: 1px solid $gris_3;
	height: 100%;
	margin: 0;
}

.vertical-line {
	height: 100px;
}

.m_date {
	margin-left: 7vw;
}

.circle_vertical {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: $beige;
	padding: 0.2rem;
}

hr.brd_gris_3 {
	border: 1px solid $gris_3;
}

.icon_clock {
	width: 1vw;
	height: 1vw;
	color: inherit;
	fill: blue;
	margin-right: 0.5vw;
	vertical-align: middle;
}

.scroll_style {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 30vw;

	// Estilos específicos para el desplazamiento
	&::-webkit-scrollbar {
		width: 12px; // Ancho de la barra de desplazamiento
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(178, 202, 219, 0.5); // Color del pulgar de la barra de desplazamiento
		border-radius: 6px; // Bordes redondeados del pulgar
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(255, 255, 255, 1); // Color de fondo de la barra de desplazamiento
	}

	// Ocultar las flechas de desplazamiento
	&::-webkit-scrollbar-button {
		display: none;
	}
}

.scroll_encuesta {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 33vw;

	// Estilos específicos para el desplazamiento
	&::-webkit-scrollbar {
		width: 12px; // Ancho de la barra de desplazamiento
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(178, 202, 219, 0.5); // Color del pulgar de la barra de desplazamiento
		border-radius: 6px; // Bordes redondeados del pulgar
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(255, 255, 255, 1); // Color de fondo de la barra de desplazamiento
	}

	// Ocultar las flechas de desplazamiento
	&::-webkit-scrollbar-button {
		display: none;
	}
}

.scroll_hide {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 30vw;
	/* Ocultar la barra de desplazamiento para IE, Edge y Firefox */
	-ms-overflow-style: none;
	/* IE y Edge */
	scrollbar-width: none;
	/* Firefox */

	/* Ocultar la barra de desplazamiento para Chrome, Safari y Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}

.scroll_hide_auto {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 13vw;
	/* Ocultar la barra de desplazamiento para IE, Edge y Firefox */
	-ms-overflow-style: none;
	/* IE y Edge */
	scrollbar-width: none;
	/* Firefox */

	/* Ocultar la barra de desplazamiento para Chrome, Safari y Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}

.scroll_content {
	height: auto;
}

.rounded-circle {
	border-radius: 50%;
}

.icon-list {
	list-style-type: none;
	padding: 0;
}

// Estilos para el círculo y el ícono
.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.5vw;
	height: 4.5vw;
	border-radius: 50%;
	margin-right: 10px;
	color: $azul_2;
	background: $azul_4;

	&.conferencistas {
		width: 7vw;
		height: 7vw;
	}

	// Estilos para el ícono dentro del círculo
	&i {
		font-size: 1vw;
	}
}

.icon_list {
	width: 1.8vw;
	color: inherit;
	fill: $azul_2;
	vertical-align: middle;
}

.vertical_txt {
	writing-mode: vertical-lr; // Modo de escritura vertical de izquierda a derecha
	transform: rotate(180deg); // Rota el texto 180 grados para que quede vertical
	margin: 0; // Elimina el margen para un diseño más limpio
}

.banner_login {
	background-image: url("../../public/img/banner_login.jpg");
	background-position: inherit;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}

.parrafo2Lineas {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
}

.w_medium {
	width: 50%;
}

.burger {
	display: none;
}

//big desktop
@media only screen and (min-width: 1921px) {
	.m_date {
		margin-left: 7rem;
	}

	.mxw_100 {
		max-width: 100% !important;
	}
}

//desktop
@media (min-width: 1200px) and (max-width: 1920px) {
	.mxw_100 {
		max-width: 100% !important;
	}
}

@media (max-width: 992px) {

	.score {
		width: 0.9rem;
		height: 0.9rem;
		margin-top: -0.5rem;
	}

	.bell {
		margin-right: -0.5rem;
		width: 1.7rem;
		height: 1.7rem;
	}

	.logo {
		width: 10rem;
	}

	.avatar {
		width: 1.9rem;
		height: 1.9rem;
		border-radius: 50%;
	}

	.btn_icon {
		.icon {
			width: 1.7rem;
			margin-right: 0.7rem;
			margin-left: 0.7rem;
		}

		.texto {
			width: 60%;
		}

		.arrow {
			width: 0.6rem;
			margin-left: 0.5rem;
		}

		&.btn_terciary {
			@include Clicked($azul_1, $blanco, 0.833rem, $azul_3, 10%, $azul_3, 5%);
		}

		&.btn_quaternary {
			@include Clicked($azul_3, $blanco, 0.833rem, $azul_2, 5%, $azul_2, 5%);
		}

		&.btn_download {
			@include Clicked($azul_3, $blanco, 0.833rem, $azul_2, 5%, $azul_2, 5%);
		}
	}

	.sesion {
		width: 1.5rem;
		height: 1.5rem;

		&.ico {
			width: 1.5rem;
		}
	}

	.arrowIco {
		width: 0.9rem;
	}

	.closeIco {
		width: 1.2rem;
	}

	.icon_clock {
		width: 1rem;
		height: 1rem;
		margin-right: 0.5rem;
	}

	.grupo {
		width: 16rem;
	}

	.circle {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		margin-right: 10rem;

		&.conferencistas {
			width: 6rem;
			height: 6rem;
		}

		// Estilos para el ícono dentro del círculo
		&i {
			font-size: 1rem;
		}
	}

	.icon_list {
		width: 1.8rem;
	}
}

//only tablet portrait
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
	.banner_login {
		height: 50vh;
	}

	.w_medium {
		width: 75%;
	}

	.m_date {
		margin-left: 1rem;
	}

	.scroll_hide {
		max-height: max-content;
	}

	.btn_icon {
		.icon {
			width: 1.5rem;
			margin-right: 0.2rem;
			margin-left: 0.5rem;
		}

		.texto {
			width: 60%;
		}

		.arrow {
			width: 0.6rem;
			margin-left: 0.5rem;
		}
	}

	.scroll_content {
		height: inherit;
	}

	.scroll_hide {
		max-height: max-content;
	}

	.scroll_hide_auto {
		height: 13rem;
	}

	.scroll_style {
		max-height: max-content;
	}

	.encuesta {
		.scroll_style {
			max-height: 30rem;
		}
	}

	.scroll_encuesta {
		max-height: 30rem;
	}

}

//only tablet landscape
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
	.m_date {
		margin-left: 1rem;
	}
}

@media (max-width: 768px) and (orientation: landscape) {

	.circles,
	.burger {
		display: block;
	}

	aside {
		width: 100%;
		height: 150vh;
	}
}

@media (min-width: 577px) and (max-width: 767px) and (orientation: landscape) {
	.banner_login {
		height: auto;
	}

	.w_medium {
		width: 50%;
	}

	.vertical-line {
		height: 0;
	}

	.circle_vertical {
		display: none;
	}

	.circles,
	.burger {
		display: block;
	}
}

@media (min-width: 577px) and (max-width: 767px) and (orientation: portrait) {
	.banner_login {
		height: 50vh;
	}

	.w_medium {
		width: 50%;
	}

	.vertical-line {
		height: 0;
	}

	.circle_vertical {
		display: none;
	}

	aside {
		height: 80vh;
	}

	.scroll_content {
		height: inherit;
	}

	.scroll_hide {
		max-height: 30rem;
	}

	.scroll_hide_auto {
		height: 13rem;
	}

	.scroll_style {
		max-height: 30rem;
	}

	.scroll_encuesta {
		max-height: 30rem;
	}
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
	.btn_global {
		font-size: 1rem; //20px
	}

	.btn_mediun {
		padding: 10px 8px;
	}

	form {

		textarea,
		input[type="tel"],
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		select {
			font-size: 0.8rem;
			padding: 0.8rem;

			&::placeholder {
				font-size: 0.8rem;
			}

			&:-ms-input-placeholder {
				font-size: 0.8rem;
			}

			&::-ms-input-placeholder {
				font-size: 0.8rem;
			}
		}

		// Estilos generales para el checkbox
		input[type="checkbox"] {
			margin-right: 1.5rem;
		}

		[type="checkbox"] {
			width: 1.2rem;
			height: 1.2rem;
		}

		button {
			&.btn_form {
				width: 16rem;
				font-size: 1.2rem;
				padding: 1rem 2rem;
			}
		}
	}

	.w_medium {
		width: 75%;
	}
}

//only phone
@media (max-width: 576px) {

	aside {
		height: 80vh;
	}

	.banner_login {
		height: 10rem;
	}

	.btn_global {
		font-size: 1rem; //20px
	}

	.btn_mediun {
		padding: 10px 8px;
	}

	form {

		textarea,
		input[type="tel"],
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		select {
			font-size: 0.8rem;
			// padding: 0.8rem;

			&::placeholder {
				font-size: 0.8rem;
			}

			&:-ms-input-placeholder {
				font-size: 0.8rem;
			}

			&::-ms-input-placeholder {
				font-size: 0.8rem;
			}
		}

		// Estilos generales para el checkbox
		input[type="checkbox"] {
			margin-right: 1.5rem;
		}

		[type="checkbox"] {
			width: 1.2rem;
			height: 1.2rem;
		}

		button {
			&.btn_form {
				width: 16rem;
				font-size: 1.2rem;
				padding: 1rem 2rem;
			}
		}
	}

	.w_medium {
		width: 100%;
	}



	.vertical-line {
		height: 0;
	}

	.m_date {
		margin-left: 0;
	}

	.circle_vertical {
		display: none;
	}

	.linea_vertical_date {
		border-bottom: 1px solid $gris_3;
		border-left: 0px;
	}



	.btn_icon {
		.icon {
			width: 1.7rem;
			margin-right: 0.7rem;
			margin-left: 0.7rem;
		}

		.texto {
			width: 60%;
		}

		.arrow {
			width: 0.6rem;
			margin-left: 0.5rem;
		}

		// Estilo alternativo para otro tipo de botón
		&.btn_secondary {
			font-size: 0.8rem; //16px
		}

		&.btn_terciary {
			@include Clicked($azul_1, $blanco, 1rem, $azul_3, 10%, $azul_3, 5%);
		}

		&.btn_quaternary {
			@include Clicked($azul_3, $blanco, 1rem, $azul_2, 5%, $azul_2, 5%);
		}

		&.btn_download {
			@include Clicked($azul_3, $blanco, 1rem, $azul_2, 5%, $azul_2, 5%);
		}
	}

	.circles,
	.burger {
		display: block;
		position: fixed;
	}

	.scroll_content {
		height: inherit;
	}

	.scroll_hide {
		max-height: 20rem;
	}

	.scroll_hide_auto {
		height: 13rem;
	}

	.scroll_style {
		max-height: 20rem;
	}

	.scroll_encuesta {
		max-height: 20rem;
	}
}