@mixin btnCalendar($colory) {
	&:hover {
		background-color: darken($colory, 10%);
	}

	background-color: $colory;
	color: black;
	font-size: 0.833vw; //16px

	&.clicked {
		background-color: lighten($colory, 05%);
	}
}

@mixin borderRadius($brd) {
	border-radius: $brd;
	-moz-border-radius: $brd;
	-webkit-border-radius: $brd;
}

@mixin borderHr($brd) {
	-webkit-border-top-left-radius: $brd;
	-webkit-border-bottom-left-radius: $brd;
	-moz-border-radius-topleft: $brd;
	-moz-border-radius-bottomleft: $brd;
	border-top-left-radius: $brd;
	border-bottom-left-radius: $brd;
}

@mixin lnVertical($color) {
	border: none;
	border-left: 9px solid $color;
	@include borderHr(10px);
	height: initial;
	position: initial;

	// Estilo alternativo para otro tipo de botón
	&.lv_secondary {
		@include borderRadius(10px);
	}
}

@mixin dropdown($top, $left, $width, $x, $y) {
	display: none;
	position: absolute;
	margin: 0;
	top: $top;
	left: $left;
	width: $width;

	@if $y ==auto {
		transform: translateX($x);
	}

	@else if $y !=auto {
		transform: translate($x, $y);
	}
}

@mixin showHide () {
	&.show {
		display: contents;
	}

	&.hide {
		display: none;
	}
}

@mixin Clicked($bg_color, $color, $fz, $hv_color, $hv_num, $clck_color, $clck_num) {
	background-color: $bg_color;
	color: $color;
	font-size: $fz;

	&:hover {
		background-color: lighten($hv_color, $hv_num);
	}

	&.clicked {
		background-color: darken($clck_color, $clck_num);
	}
}