@import "vars.scss";
@import "fonts.scss";
@import "mixin.scss";

.content_swp_general {
	.swiper {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 5%;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		bottom: inherit;
		margin: 0;
		color: $azul_1;
		font-weight: bolder;
	}

	.swiper-button-next:after,
	.swiper-button-prev:after {
		content: none !important;
	}

	.swiper-button-prev {
		background-image: url(../../public/img/icon/swp_left.svg) !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}

	.swiper-button-next {
		background-image: url(../../public/img/icon/swp_right.svg) !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}

.swp_conferencistas,
.swp_next_course {
	.swiper-slide {
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		padding-bottom: 0.5rem;
		flex-direction: column;
	}
}

/* dropdown */
.dropdown_menu {
	@include dropdown(auto, auto, auto, -100%, auto);
}

.dropdown_sesion {
	@include dropdown(10%, auto, auto, -100%, auto);
}

.dropdown_agenda {
	@include dropdown(50%, 50%, 45%, -50%, -50%);
}

.dropdown_event {
	@include dropdown(50%, 50%, 45%, -50%, -50%);
}

#agendarme {
	display: contents;
	@include showHide();
}

#formEvent {
	display: none;
	@include showHide();
}



// Puedes agregar estilos adicionales según sea necesario

/* Personalización de los días de la semana */
.fc .fc-col-header-cell-cushion {
	background: linear-gradient(0deg, rgba(120, 180, 223, 0.1), rgba(120, 180, 223, 0.1));
	color: $azul_1;
	padding: 10px;
	border: 1px solid $gris_3;
	@extend .fz_p;
	@extend .fw_700;
	width: 100%;
	text-transform: capitalize;
}

.fc .fc-button-primary {
	box-shadow: 0px 4px 4px 0px rgba(43, 76, 96, 0.1);
	background-color: $gris_2;
	background: $gris_2;
	color: black;
	@extend .fz_p;
	@extend .fw_400;
	@include borderRadius(5px);
	border: none;
	margin: 0 0.5vw;
	padding: .5vw 2vw;

	// opacity: .5;
	&:focus,
	&:active,
	&:hover {
		border: none;
		outline: none !important;
	}
}

.fc .fc-prev-button,
.fc .fc-next-button {
	color: $azul_2;
	background: $blanco;
	padding: .5em;
	@include borderRadius(10px);
	box-shadow: 0px 4px 4px 0px #2B4C6017;

	&:hover {
		background-color: $gris_3;
	}

	&:focus,
	&:active {
		border: none;
		outline: none !important;
	}
}

//boton de flecha active
.fc .fc-prev-button:focus,
.fc .fc-prev-button:active,
.fc .fc-next-button:focus,
.fc .fc-next-button:active {
	background-color: $blanco;
	border: none;
	box-shadow: none;
}

//boton de flecha active
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
	background: linear-gradient(0deg, rgba(120, 180, 223, 0.1), rgba(120, 180, 223, 0.1));
	border: none;
	color: inherit;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
	box-shadow: none;
}

.fc-toolbar-chunk>* {
	display: flex;

	.fc-toolbar-title {
		@extend .fz_h3;
		@extend .fw_700;
		text-transform: capitalize;
		color: $azul_1;
		background: $blanco;
		padding: 0.5rem 1rem;
		@include borderRadius(10px);
		box-shadow: 0px 4px 4px 0px #2B4C6017;
		// line-height: 25px;

		&:after {
			content: url("../../public/img/icon/calendary.svg");
			margin-left: .5rem;
			display: inline;
		}
	}
}

.fc .fc-button-group>.fc-button.fc-button-active,
.fc .fc-button-group>.fc-button:active,
.fc .fc-button-group>.fc-button:focus,
.fc .fc-button-group>.fc-button:hover {
	z-index: 1;
	border: none;
	outline: none !important;
	@include Clicked($verde_1, $blanco, 0.8vw, $verde_1, 5%, $verde_1, 5%);
	@include borderRadius(5px);
	@extend .fz_p;
	@extend .fw_700;
	padding: .5vw 2vw;
}

.fc-icon-chevron-left::before,
.fc-icon-chevron-right::before {
	color: $azul_2;
	@extend .fz_h3;
}

.fc .fc-button .fc-icon {
	display: inline;
}

//day calendar
.fc .fc-daygrid-day-top {
	flex-direction: row;

	.fc-daygrid-day-number {
		@extend .fz_p;
		@extend .fw_400;
		color: $azul_1;
	}
}

//event calendar notification
// .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
// 	&::before {
// 		background-color: aqua;
// 	}
// }

//event calendar notification
.fc-h-event {
	@extend .bg_gradient_azul_day;
	border: none;
}

.fc .fc-highlight {
	// @extend .bg_degradado_verde;
	border: 1px solid $verde_1;
	@include borderRadius(5px);
	background: linear-gradient(0deg, rgba(44, 177, 116, 0.3), rgba(44, 177, 116, 0.3));
}

.fc-day-selected,
.fc-col-header-cell-cushion {
	background: #2CB174;
}

.linea_vertical_date {

	&.gris {
		@include lnVertical($gris_1);
	}

	&.lila {
		@include lnVertical($lila);
	}

	&.verde_2 {
		@include lnVertical($verde_2);
	}

	&.azul_3 {
		@include lnVertical($azul_3);
	}
}

.background_events,
.fc-h-event .fc-event-main,
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
	background: transparent;
}

.score_cursos {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 50%;
	margin-top: -1.5vw;
	float: right;
	margin-bottom: 0.5vw;

	&.gris {
		background-color: $gris_1;
	}

	&.lila {
		background-color: $lila;
	}

	&.verde_2 {
		background-color: $verde_2;
	}

	&.azul_3 {
		background-color: $azul_3;
	}

}

// .fc {
// 	.fc-button-group {
// 		>.fc-button.fc-button-active,
// 		>.fc-button {
// 			// @include clicked($verde_1, $blanco, 0.8vw, $verde_1, 5%, $verde_1, 5%);
// 			@include borderradius(5px);
// 			// @extend .fz_p;
// 			// @extend .fw_700;
// 			padding: .5vw 2vw;
// 			// &:active,
// 			// &:focus,
// 			// &:hover  {
// 			// 	z-index: 1;
// 			// 	border: none;
// 			// 	outline: none !important;
// 			// }
// 		}
// 	}
// }


#vista_1,
#vista_2,
#vista_3,
#vista_4,
#vista_5 {
	// visibility: hidden;
	display: none;

	&.show {
		// visibility: visible;
		display: block;
	}
}

//big desktop
@media only screen and (min-width: 1921px) {
	.dropdown_agenda {
		@include dropdown(50%, 50%, 60%, -55%, -60%);
	}
}

@media (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
	.dropdown_agenda {
		@include dropdown(50%, 50%, 70%, -55%, -60%);
	}
}

@media (max-width: 768px) {

	// .fc-icon-chevron-left::before,
	// .fc-icon-chevron-right::before {
	// 	font-size: 1.5rem;
	// }

	.fc .fc-button-group>.fc-button.fc-button-active,
	.fc .fc-button-group>.fc-button:active,
	.fc .fc-button-group>.fc-button:focus,
	.fc .fc-button-group>.fc-button:hover {
		@include Clicked($verde_1, $blanco, 0.8rem, $verde_1, 5%, $verde_1, 5%);
		padding: .5rem 2rem;
		margin-right: 0.7rem;
	}

	.fc .fc-button-primary {
		margin: 0 0.5rem;
		padding: .5rem 1.5rem;
	}

	.fc .fc-prev-button,
	.fc .fc-next-button {
		padding: .1rem;
	}

	.fc .fc-col-header-cell-cushion {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
	.dropdown_agenda {
		@include dropdown(50%, 50%, 80%, -55%, -60%);
	}
}

@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {

	/* dropdown */
	.dropdown_menu {
		@include dropdown(auto, auto, auto, -100%, auto);
	}

	.dropdown_sesion {
		@include dropdown(20%, auto, auto, -100%, auto);
	}

	.dropdown_agenda {
		@include dropdown(50%, 50%, 45%, -50%, -50%);
	}

	.dropdown_event {
		@include dropdown(50%, 50%, 45%, -50%, -50%);
	}
}

@media (min-width: 577px) and (max-width: 767px) and (orientation: landscape) {
	.content_swp_general .swiper-button-next {
		position: relative;
		bottom: 3%;
	}

	.content_swp_general .swiper-button-prev {
		position: relative;
		top: -3%;
	}

	.content_swp_general {
		.swiper {
			height: auto;
		}
	}

	.fc {
		.fc-toolbar {
			display: block;

			.fc-toolbar-chunk {
				margin-bottom: 0.7rem;
			}
		}
	}

	.dropdown_sesion {
		@include dropdown(175%, auto, auto, -100%, auto);
	}

	.dropdown_agenda {
		@include dropdown(40%, 50%, 90%, -55%, -20%);
	}
}

@media (min-width: 577px) and (max-width: 767px) and (orientation: portrait) {
	.content_swp_general .swiper-button-next {
		position: relative;
		bottom: -3%;
	}

	.content_swp_general .swiper-button-prev {
		position: relative;
		top: 3%;
	}

	.content_swp_general {
		.swiper {
			height: auto;
		}
	}

	.fc {
		.fc-toolbar {
			display: block;

			.fc-toolbar-chunk {
				margin-bottom: 0.7rem;
			}
		}
	}
}

//only phone
@media (max-width: 576px) {
	.content_swp_general .swiper-button-next {
		position: relative;
		bottom: 3%;
	}

	.content_swp_general .swiper-button-prev {
		position: relative;
		top: -3%;
	}

	.content_swp_general {
		.swiper {
			height: auto;
		}
	}

	.fc {
		.fc-toolbar {
			display: block;

			.fc-toolbar-chunk {
				margin-bottom: 0.7rem;
			}
		}
	}

	.dropdown_sesion {
		@include dropdown(100%, auto, auto, -12%, auto);
	}

	/* dropdown */
	.dropdown_menu {
		@include dropdown(auto, auto, auto, -12%, auto);
	}

	// .dropdown_sesion {
	// 	@include dropdown(10%, auto, auto, -60%, auto);
	// }

	.dropdown_agenda {
		@include dropdown(50%, 50%, 90%, -55%, -30%);
	}

	.dropdown_event {
		@include dropdown(50%, 50%, 45%, -50%, -50%);
	}
}



// /* Calendario */
// .calendar {
// 	display: block;
// 	justify-content: center;
// 	align-items: center;

// 	// .month {
// 	// 	display: flex;
// 	// 	justify-content: space-between;
// 	// 	align-items: center;
// 	// 	font-size: 20px;
// 	// 	margin-bottom: 20px;
// 	// 	font-weight: 300;

// 	// 	.year {
// 	// 		font-weight: 600;
// 	// 		margin-left: 10px;
// 	// 	}

// 	// 	.nav {
// 	// 		display: flex;
// 	// 		justify-content: center;
// 	// 		align-items: center;
// 	// 		text-decoration: none;
// 	// 		color: #0a3d62;
// 	// 		width: 40px;
// 	// 		height: 40px;
// 	// 		border-radius: 40px;
// 	// 		transition-duration: .2s;
// 	// 		position: relative;

// 	// 		&:hover {
// 	// 			background: #eee;
// 	// 		}
// 	// 	}
// 	// }

// 	.days {
// 		display: grid;
// 		justify-content: center;
// 		align-items: center;
// 		grid-template-columns: repeat(7, 1fr);

// 		span {
// 			justify-self: center;
// 			align-self: center;
// 			text-align: center;
// 		}
// 	}

// 	.dates {
// 		display: grid;
// 		grid-template-columns: repeat(7, 1fr);
// 		// background: rgba(120, 180, 223, 0.1);

// 		button {
// 			cursor: pointer;
// 			outline: 0;
// 			border: 1px solid $gris_3;
// 			background: transparent;
// 			font-size: 16px;
// 			justify-self: center;
// 			align-self: center;
// 			width: 100%;
// 			height: 7vw;
// 			transition-duration: .2s;

// 			time {
// 				color: $azul_1;
// 			}

// 			&.today {
// 				border: 1px solid $verde_1;
// 				background: linear-gradient(0deg, rgba(44, 177, 116, 0.3), rgba(44, 177, 116, 0.3));
// 				@include borderRadius(5px);
// 			}

// 			// &:first-child {
// 			// 	grid-column: 3;
// 			// }

// 			&:hover {
// 				background: #eee;
// 			}

// 			&:focus {
// 				background: #0a3d62;
// 				color: #fff;
// 				font-weight: 600;
// 			}
// 		}
// 	}
// }