/*azules*/
$azul_1: #2B4C60;
$azul_2: #78B4DF;
$azul_3: #0095D3;
$azul_4: rgba(120, 180, 223, 0.1);
/*verdes*/
$verde_1: #008E69;
$verde_2: #2CB174;
$verde_3: rgba(44, 177, 116, 0.3);
/*gris*/
$gris_1: #565656;
$gris_2: #DBDBDB;
$gris_3: #B2CADB;
$gris_4: rgba(219, 219, 219, 0.5);

/*otros*/
$lila: #BB7EF8;
$blanco: #FFFFFF;
$beige: #D9D9D9;
/*negro*/

//inspeccion puesto de trabajo.