<div class="col-12 col-lg-9 bx_shdw_1 bg_azul_4 brd_rds_20 my-5 px-4">
	<div class="d-flex justify-content-between mt-3 mb-4">
		<div class="d-flex justify-content-between align-items-center">
			<a href="#" class="bx_shdw_3 bg_blanco brd_rds_10 p-2 my-0 me-2">
				<img class="icon_clock mx-auto" src="img/icon/arrow_left_calendar.svg" alt="clock"/>
			</a>
			<div class="d-flex justify-content-between bx_shdw_3 bg_blanco brd_rds_10 p-2 my-0 me-2">
				<h3 class="fz_h3 fw_700 color_azul_1 ms-2 my-0">Octubre</h3>
				<h3 class="fz_h3 fw_700 color_azul_1 ms-3 my-0">2023 </h3>
				<img class="icon_clock ms-4 me-2" src="img/icon/calendary.svg" alt="clock"/>
			</div>
			<a href="#" class="bx_shdw_3 bg_blanco brd_rds_10 p-2 my-0 me-2">
				<img class="icon_clock mx-auto" src="img/icon/arrow_right_calendar.svg" alt="clock"/>
			</a>
		</div>

		<div class="d-flex">
			<button type="button" class="btn_calendar fw_700 me-2 bg_verde_2" form="form1" value="Submit" onclick="calendarChange(this)">Mes</button>
			<button type="button" class="btn_calendar fw_700 me-2" form="form1" value="Submit" onclick="calendarChange(this)">Semana</button>
			<button type="button" class="btn_calendar fw_700 me-2" form="form1" value="Submit" onclick="calendarChange(this)">Día</button>
		</div>

	</div>
	<div class="calendar bg_azul_4">
		<div class="days bg_gradient_azul_day">
			<span class=" brd_gris_3 w-100">
				<p class="fz_p fw_700 color_azul_1 my-">Lunes</p>
			</span>
			<span class=" brd_gris_3 w-100">
				<p class="fz_p fw_700 color_azul_1 my-">Martes</p>
			</span>

			<span class=" brd_gris_3 w-100">
				<p class="fz_p fw_700 color_azul_1 my-">Miercoles</p>
			</span>

			<span class=" brd_gris_3 w-100">
				<p class="fz_p fw_700 color_azul_1 my-">Jueves</p>
			</span>

			<span class=" brd_gris_3 w-100">
				<p class="fz_p fw_700 color_azul_1 my-">Viernes</p>
			</span>

			<span class=" brd_gris_3 w-100">
				<p class="fz_p fw_700 color_azul_1 my-">Sábado</p>
			</span>

			<span class=" brd_gris_3 w-100">
				<p class="fz_p fw_700 color_azul_1 my-">Domingo</p>
			</span>

		</div>
		<div class="dates">
			<button>
				<time class="fz_p fw_400 color_azul_1">1</time>
			</button>
			<button>
				<time>2</time>
			</button>
			<button>
				<time>3</time>
			</button>
			<button>
				<time>4</time>
			</button>
			<button>
				<time>5</time>
			</button>
			<button>
				<time>6</time>
			</button>
			<button>
				<time>7</time>
			</button>
			<button>
				<time>8</time>
			</button>
			<button>
				<time>9</time>
			</button>
			<button>
				<time>10</time>
			</button>
			<button>
				<time>11</time>
			</button>
			<button>
				<time>12</time>
			</button>
			<button>
				<time>13</time>
			</button>
			<button>
				<time>14</time>
			</button>
			<button>
				<time>15</time>
			</button>
			<button>
				<time>16</time>
			</button>
			<button>
				<time>17</time>
			</button>
			<button class="today">
				<time>18</time>
			</button>
			<button>
				<time>19</time>
			</button>
			<button>
				<time>20</time>
			</button>
			<button>
				<time>21</time>
			</button>
			<button>
				<time>22</time>
			</button>
			<button>
				<time>23</time>
			</button>
			<button>
				<time>24</time>
			</button>
			<button>
				<time>25</time>
			</button>
			<button>
				<time>26</time>
			</button>
			<button>
				<time>27</time>
			</button>
			<button>
				<time>28</time>
			</button>
			<button>
				<time>29</time>
			</button>
			<button>
				<time>30</time>
			</button>
			<button>
				<time>31</time>
			</button>
		</div>
	</div>
</div>
