{% extends 'base.html.twig' %}

{% block body %}
	
<div class="container-fluid">
	<div class="row">
		<!-- Encuestas disponibles -->
		<div class="col-12">
			{{ include('componentes/vitacoraHorizontal.html.twig',{title:'Encuestas disponibles', data:true}) }}
		</div>
	</div>
</div>


{% endblock %}

{% block javascripts %}
	<script>

	</script>
{% endblock %}
