{% extends 'base.html.twig' %}

{% block body %}
<div class="bg_blanco brd_rds_20 bx_shdw_2">
	<div class="p-4">
		<div class="container">
			<div class="row">
				<!-- Encuestas disponibles -->
				<div class="col-12 col-lg-6">
					<div class="brd_rds_20 bg_gradient_azul_2 bx_shdw_1 py-4">
						<!-- Titulo -->
						<div class="d-flex justify-content-between px-2 pb-3">
							<h2 class="fz_h2 fw_600 color_azul_1 letter_spacing my-auto">Encuestas disponibles</h2>
							<div class="d-flex justify-content-between bx_shdw_3 bg_blanco brd_rds_10 p-2 my-0">
								<h3 class="fz_h3 fw_700 color_azul_1 ms-2 my-0">Octubre</h3>
								<h3 class="fz_h3 fw_700 color_azul_1 ms-3 my-0">2023
								</h3>
								<img class="icon_clock ms-4 me-2" src="img/icon/calendary.svg" alt="clock"/>
							</div>
						</div>
						<div class="px-2 scroll_style">
							<hr class="brd_gris_3 mt-3 mb-3">
							<!-- Contexto -->
							<div class="base">
								<h3 class="fz_h3 fw_700 color_verde_2 ps-1 my-3">Viernes,24 de Octubre</h3>
								<div class="box_notificacion bg_gradient_azul_2 brd_rds_5 bx_shdw_3 mb-3 d-flex justify-content-between w-100">
									<hr class="linea_vertical lv_secondary">
									<div class="pe-3 py-2 w-100">
										<p class="fz_p fw_700 color_azul_1 ps-3 my-2">Bases de BrSM  - Técnicas de aplicación - Patología OM. Médicos de ...</p>
										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/clock.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">08:00 - 16:00</p>
											<p class="fz_p fw_400 color_azul_2 my-1">(8h)</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/point.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">Centro de Entrenamiento Heel</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/dress.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">Tr 56 #105-37 Piso 3</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/cupos.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">8 Cupos disponibles</p>
										</div>
									</div>
								</div>
							</div>

							<!-- Contexto -->
							<div class="base">
								<h3 class="fz_h3 fw_700 color_verde_2 ps-1 my-3">Viernes,24 de Octubre</h3>
								<div class="box_notificacion bg_gradient_azul_2 brd_rds_5 bx_shdw_3 mb-3 d-flex justify-content-between w-100">
									<hr class="linea_vertical lv_secondary">
									<div class="pe-3 py-2 w-100">
										<p class="fz_p fw_700 color_azul_1 ps-3 my-2">Bases de BrSM  - Técnicas de aplicación - Patología OM. Médicos de ...</p>
										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/clock.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">08:00 - 16:00</p>
											<p class="fz_p fw_400 color_azul_2 my-1">(8h)</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/point.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">Centro de Entrenamiento Heel</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/dress.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">Tr 56 #105-37 Piso 3</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/cupos.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">8 Cupos disponibles</p>
										</div>
									</div>
								</div>
							</div>

							<!-- Contexto -->
							<div class="base">
								<h3 class="fz_h3 fw_700 color_verde_2 ps-1 my-3">Viernes,24 de Octubre</h3>
								<div class="box_notificacion bg_gradient_azul_2 brd_rds_5 bx_shdw_3 mb-3 d-flex justify-content-between w-100">
									<hr class="linea_vertical lv_secondary">
									<div class="pe-3 py-2 w-100">
										<p class="fz_p fw_700 color_azul_1 ps-3 my-2">Bases de BrSM  - Técnicas de aplicación - Patología OM. Médicos de ...</p>
										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/clock.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">08:00 - 16:00</p>
											<p class="fz_p fw_400 color_azul_2 my-1">(8h)</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/point.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">Centro de Entrenamiento Heel</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/dress.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">Tr 56 #105-37 Piso 3</p>
										</div>

										<div class="d-flex justify-content-start align-items-center ps-3">
											<img class="icon_clock me-2" src="img/icon/cupos.svg" alt="clock"/>
											<p class="fz_p fw_400 color_azul_1 my-1 me-2">8 Cupos disponibles</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="brd_rds_20 bg_gradient_azul_2 bx_shdw_1 py-4">
						<div class="d-flex justify-content-between px-4 pb-3">
							<p class="fz_p fw_600 color_azul_1 letter_spacing my-auto">Detalle del curso</p>
							<div class="d-flex justify-content-between my-0">
								<button type="button" class="btn btn_extra_small fw_700 bg_azul_3" onclick="dropdownAgenda()">Agendarme al evento</button>
								{# <h3 class="fz_h3 fw_700 color_blanco mx-auto my-0 px-4">Agendarme al evento</h3> #}
							</div>
						</div>
						<div class="d-flex justify-content-center align-items-center">
							{{ include('dropdown/dropdownAgenda.html.twig') }}
						</div>
						<!-- titulo -->
						<div class="px-4 pb-3 scroll_style">
							<h2 class="fz_h2 color_azul_1 fw_600 letter_spacing">Bases de BrSM  - Técnicas de aplicación - PatologíaOM. Médicos de la zona Funza, Madrid, Mosquera, Faca. Gerente regional Javier Salgado.</h2>

							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto mb-2">Conferencista</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-5">Lorem ipsum dolor sit amet</p>
							</div>

							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto mb-2">Descripción</h3>
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-5">Bases de BrSM  - Técnicas de aplicación - Patología OM. Médicos de la zona Funza, Madrid, Mosquera, Faca. Gerente regional Javier Salgado. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							</div>

							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto mb-2">Módulos</h3>
								<!-- Módulos -->
								<div class="modulos">
									<p class="fz_p fw_700 color_azul_1 mb-1">Módulo 1 : Lorem ipsum dolor sit amet </p>
									<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
								</div>

								<div class="modulos">
									<p class="fz_p fw_700 color_azul_1 mb-1">Módulo 1 : Lorem ipsum dolor sit amet </p>
									<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
								</div>

								<div class="modulos">
									<p class="fz_p fw_700 color_azul_1 mb-1">Módulo 1 : Lorem ipsum dolor sit amet </p>
									<p class="fz_p fw_400 color_azul_1 letter_spacing mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script>
		function dropdownAgenda() {
			$(".dropdown_agenda").toggle();
		}
	</script>
{% endblock %}
