{% extends 'base.html.twig' %}

{% block body %}
{# <div class="bg_blanco brd_rds_20 bx_shdw_2"> #}
	<div class="container-fluid">
		<div class="row">
			<!-- Encuestas disponibles -->
			<div class="col-12 col-lg-6 ps-lg-0">
				<div class="encuesta">
					{{ include('componentes/vitacora.html.twig',{title:'Encuestas disponibles'}) }}
				</div>
			</div>
			<div class="col-12 col-lg-6 pe-lg-0">
				<div class="brd_rds_20 bg_gradient_azul_2 bx_shdw_1 py-4 mb-4">
					<div class="d-flex justify-content-between px-2 pb-3">
						<h3 class="fz_h3 fw_600 color_azul_1 letter_spacing my-auto px-2">Encuesta de evaluación  del curso</h3>
					</div>
					<!-- titulo -->
					<div class="px-2 pb-3">
						<div class="px-2 scroll_encuesta">
							<h2 class="fz_h2 color_azul_1 fw_600 letter_spacing">Bases de BrSM  - Técnicas de aplicación - PatologíaOM. Médicos de la zona Funza, Madrid, Mosquera, Faca. Gerente regional Javier Salgado.</h2>

							<div class="parrafo">
								<p class="fz_p fw_400 color_azul_1 letter_spacing mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
							</div>

							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto mb-0">¿Cómo calificaría al conferencista a cargo del curso?</h3>
								<div class="d-inline-flex mb-3 mt-1">
									<p class="fz_p fw_700 color_azul_1 letter_spacing me-2 my-0">Conferencista:</p>
									<p class="fz_p fw_400 color_azul_1 letter_spacing my-0">Lorem ipsum dolor sit</p>
								</div>
								{{ include('componentes/radioInput.html.twig',{nameInput:'conferencista',pregunta:'conferencista'}) }}
							</div>

							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto mb-0">¿Cómo calificaría el contenido otorgado a lo largo del curso?</h3>
								<div class="d-inline-flex mb-3 mt-1">
									<p class="fz_p fw_400 color_azul_1 letter_spacing my-0">Lorem ipsum dolor sit</p>
									{# <p class="fz_p fw_700 color_azul_1 letter_spacing me-2 my-0">Conferencista:</p> #}
								</div>
								{{ include('componentes/radioInput.html.twig',{nameInput:'contenido '}) }}
							</div>

							<div class="parrafo">
								<h3 class="fz_h3 fw_700 azul_1 mx-auto mb-0">¿Cómo calificaría el material presentado durante la clase?</h3>
								<div class="d-inline-flex mb-3 mt-1">
									<p class="fz_p fw_400 color_azul_1 letter_spacing my-0">Lorem ipsum dolor sit</p>
									{# <p class="fz_p fw_700 color_azul_1 letter_spacing me-2 my-0">Conferencista:</p> #}
								</div>
								{{ include('componentes/radioInput.html.twig',{nameInput:'material '}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{# </div> #}

{% endblock %}

{% block javascripts %}
	<script>

	</script>
{% endblock %}
